body {
  background-image: url("images/background-flowers.jpg");
}
body #wrapper {
  display: flex;
  width: 60%;
  margin: auto;
  flex-flow: row wrap;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
body #wrapper > * {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 1em;
}
body #wrapper header {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 2%;
}
body #wrapper header h1 a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body #wrapper header h1 a img {
  width: 30%;
}
body #wrapper header nav {
  width: 80%;
}
body #wrapper header nav ul li {
  display: inline-block;
  width: 19%;
  background-color: #EB2A7B;
  padding: 2%;
  border: 1px solid black;
}
body #wrapper header nav ul li a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  font-weight: 600;
}
body #wrapper aside.left {
  padding: 1%;
  height: 350px;
  order: 1;
  flex: 1 0px;
}
body #wrapper aside.left ul {
  display: inline;
  list-style-type: none;
}
body #wrapper aside.left ul li a {
  text-decoration: none;
  color: black;
}
body #wrapper section {
  height: 100%;
  order: 2;
  flex: 3 0px;
  padding-bottom: 1em;
}
body #wrapper section article header {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
body #wrapper section article header h1 {
  font-size: 1.4em;
}
body #wrapper section article div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.5%;
}
body #wrapper section article div img {
  width: 23%;
  margin: 0.1em;
}
body #wrapper aside.right {
  padding: 1%;
  height: 350px;
  order: 3;
  flex: 1 0px;
}
body #wrapper aside.right ul {
  list-style-type: none;
  display: inline;
}
body #wrapper aside.right ul li {
  display: block;
}
body #wrapper footer {
  order: 4;
  flex: 1 100%;
}
body #wrapper footer h2 {
  text-align: center;
}
body #wrapper footer h2 a {
  color: black;
}
@media only screen and (max-width: 960px) {
  body #wrapper {
    width: 100%;
  }
  body #wrapper section article div img {
    width: 30%;
  }
}
@media only screen and (max-width: 780px) {
  body #wrapper aside.left {
    flex: 1 100%;
    order: 2;
    height: auto;
    padding-bottom: 20px;
  }
  body #wrapper section {
    flex: 1 100%;
    order: 1;
  }
  body #wrapper aside.right {
    flex: 1 100%;
    order: 3;
    height: auto;
  }
}
@media only screen and (max-width: 640px) {
  body #wrapper {
    width: 100%;
  }
  body #wrapper header h1 a {
    display: flex;
    flex-direction: column;
  }
  body #wrapper header h1 a img {
    margin: 0 auto;
  }
  body #wrapper header h1 a span {
    margin: 0 auto;
  }
  body #wrapper header nav {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
  }
  body #wrapper header nav ul {
    display: inline;
  }
  body #wrapper header nav ul li {
    border-collapse: collapse;
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  body #wrapper section article div img {
    width: 45%;
  }
}